.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
    .search-input {
      width: 100%;
      max-width: 400px;
      padding: 10px;
      font-size: 1rem;
      border: 2px solid #ddd;
      border-radius: 4px;
      outline: none;
      transition: border-color 0.3s ease;
  
      &::placeholder {
        color: #aaa;
      }
  
      &:focus {
        border-color: #3498db;
      }
    }
  }
  

  @media (max-width: 768px) {
    .search-input {
      width: 90%;
      max-width: none;
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .search-input {
      padding: 8px;
      font-size: 0.85rem;
    }
  }
  